extends layout 
 
block content 
  h1= title 
 
  form(id='foodForm', action="/resource/resource/food", method="POST") 
    div.form-group 
        label.foodAttr(for='Food_name') Food name 
        input#Food_name(type='text', name='Food_name') 
    div.form-group 
        label.foodAttr(for='cuisine') Cuisine
        input#cuisine(type='text', name='cuisine') 
    div.form-group 
        label.foodAttr(for='calories') Calories 
        input#calories(type='number', name='calories') 
    input(type="submit") 

  script. 
    document.forms['foodForm'].addEventListener('submit', (event) => { 
      event.preventDefault(); 
      // TODO do something here to show user that form is being submitted 
      fetch(event.target.action, { 
        method: 'POST', 
        body: new URLSearchParams(new FormData(event.target))  
      }).then((resp) => { 
        return resp.text(); 
      }).then((body) => { 
        alert("Save succeded") 
      }).catch((error) => { 
        alert("Save failed " + error ) 
      }); 
    }); 